.seasonal-offer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 10rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-image: url(../images/carrots-e.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  
}

.seasonal-offer-div i {
  font-size: 3.5rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.seasonal-offer-div i:hover{
  transform: scale(1.1);
  color: #ffffff; /* voliteľné – môžeš dať inú farbu pri hoveri */
}

.seasonal-offer-h4 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  color: #ffffff;
}

/* Responzívne - 2x2 grid pre menšie obrazovky */
@media (max-width: 768px) {
  .seasonal-offer-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }

  .seasonal-offer-div i {
  font-size: 2.5rem;
  }

  .seasonal-offer-h4 {
  font-size: 1rem;
  }
}
